<nav class="navbar navbar-light bg-white shadow-sm py-3 mb-4">
  <div class="container d-flex justify-content-between align-items-center">
    <!-- Logo -->
    <%= link_to image_tag("cabaneb-logo.png", height: 100), root_path, class: "navbar-brand" %>

    <!-- Zone de recherche -->
    <%= form_with url: flats_path, method: :get, local: true, class: "flex-grow-1 mx-4", style: "max-width: 600px;" do |form| %>
      <div class="input-group rounded-pill shadow-sm overflow-hidden">
        <%= form.search_field :query, class: "form-control border-0", placeholder: "Rechercher une destination, nom, etc..." %>
        <button class="btn btn-dark px-3" type="submit">🔍</button>
      </div>
    <% end %>


    <!-- Menu utilisateur -->
    <div class="d-flex align-items-center gap-4">
      <%= link_to "Cabane", pages_cabane_path, class: "nav-link text-dark fw-semibold" %>
      <%= link_to "Expériences", pages_experiences_path, class: "nav-link text-dark" %>
      <%= link_to "Services", pages_services_path, class: "nav-link text-dark" %>
      <%= link_to "Ajouter une cabane", new_flat_path, class: "btn btn-outline-dark" %>


      <% if user_signed_in? %>
        <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "btn btn-outline-dark" %>
      <% else %>
        <%= link_to "Connexion", new_user_session_path, class: "btn btn-outline-dark" %>
      <% end %>
    </div>
  </div>
</nav>
