<div class="container my-5">
  <h1 class="mb-4 fw-bold">Nos cabanes</h1>

<% @flats.each do |flat| %>
  <div class="col">
    <div class="card shadow-sm">
      <% if flat.photo.attached? %>
        <%= image_tag flat.photo.variant(resize_to_limit: [800, 400]), class: "card-img-top" %>
      <% else %>
        <%= image_tag flat.photo_url, class: "card-img-top" %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= flat.name %></h5>
        <p class="card-text"><%= flat.price_per_night %> € par nuit • ⭐ <%= flat.rating %></p>
        <%= link_to "Voir la cabane", flat_path(flat), class: "btn btn-dark" %>
      </div>
    </div>
  </div>
<% end %>
