<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="card shadow p-4" style="width: 400px;">
    <h2 class="text-center mb-4">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group mb-3">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group mb-3">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <div class="form-check mb-3">
        <%= f.check_box :remember_me, class: "form-check-input" %>
        <%= f.label :remember_me, class: "form-check-label" %>
      </div>

      <div class="d-grid mb-3">
        <%= f.submit "Log in", class: "btn btn-primary w-100" %>
      </div>
    <% end %>

    <div class="text-center">
      <%= link_to "Sign up", new_user_registration_path %><br>
      <%= link_to "Forgot your password?", new_user_password_path %>
    </div>
  </div>
</div>
